<p>Find me in app/views/offer/integrity.html.erb</p>
<h1>The way to Love is Integrity</h1>
<p>Start where you are</p>
<p>Do what you can</p>
<p>Lead from the heart</p>
<p>
  With Integrity, <%= link_to "Love", offer_love_path %> Flourishes
</p>
<p>
  Try <%= link_to "Joyful Play", offer_joyfulplay_path %>
</p>