<p>Find me in app/views/offer/joyfulplay.html.erb</p>
<h1>Play is the Way to Learn Anything</h1>
<p><%= 1+1  %></p>
<p><%= "Nam" + " " + "+" " " + "Laurie" + " " + "pour l'éternité" %></p>
<p><%= @oneHour %></p>
<p>Try joy and happiness from now</p>