<h1>Offer#love</h1>
<p>Find me in app/views/offer/love.html.erb</p>
<p>Each day I will make peace in my heart and the world's heart by sharing the Love</p>
<p>I just want to tell you Laurie that I love you from the bottom of my heart. All I want is your happiness.</p>
<p>
   Just Live the Present Moment <%= @presentMoment %>
</p>
<p>
  Offer <%= link_to "Integrity", offer_integrity_path %>
</p>
<p>
  Try <%= link_to "Joyful Play", offer_joyfulplay_path %>
</p>